body {background-color:powderblue}

h1   {
      font-size:300%; 
      color:fuchsia
      }

h2   {
      font-family: cursive;
      font-size:150%; 
      color:red
      }

p    {
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      border: 2px solid black;
      padding: 30px;
      margin: 50px;
      }

img  {
      width: 300px;
      height: 500px;
      text-align: middle;
}

table {
    background-color: lightpink;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
  
td, th {
    color: blue;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

.tr {
    background-color: darkseagreen;
    color:red;
    font-family: 'Times New Roman', Times, serif;
}

/* lo siguiente es pertinente al color de links no visitados, visitados, hover-eados, y activos?? */

a:link {
            color: green;
            background-color: transparent;
            /*padding: 15px 25px;*/
            text-align: center;
            text-decoration: none;
            display: inline-block;
      }
          
a:visited {
            color: purple;
            background-color: transparent;
            /*padding: 15px 25px;*/
            text-align: center;
            text-decoration: none;
            display: inline-block;
          }
          
a:hover {
            color: red;
            background-color: transparent;
            text-decoration: underline;
          }
          
a:active {
            color: yellow;
            background-color: red;
            text-decoration: underline;
          }